body {
  margin: 0;
}

.main_content {
  display: flex;
  background-color: #1c1a19;
  flex-direction: column;
  min-width: 375px;
  min-height: 100vh;
  align-content: center;
}

.header {
  width: 100%;
  background-color: #3c3a39;
}

.top-section {
  background-color: #3c3a39;
  padding-top: 92px;
  align-content: center;
}

.headline {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  text-align: left;
  background: url("./images/background.png") #1c1a19 no-repeat;
  background-position: 100% 120%;
  padding: 120px 24px 120px 24px;
  gap: 12px;
}

.headline-title2 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.headline-title {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  margin: 0 0 0 0;
}

.headline-description {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.social {
  color: white;
  font-size: 25px;
  height: 40px;
  width: 200px;
  border-radius: 0;
  padding: 24px 0 0 0;
}

.social li {
  margin-right: 8px;
}

.headline-social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 200px;
  height: 40px;
  list-style: none;
  align-items: center;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.app-bar {
  position: absolute;
  width: 375px;
  height: 92px;
  align-content: center;
  background: #3c3a39;
}

.app-bar ul {
  list-style-type: none;
  padding: 40px 0 0 20px;
  display: flex;
  justify-content: space-between;
}

.app-bar li {
  list-style-type: none;
  align-items: center;
  text-align: center;
}

.app-bar-item1 {
  color: #fff;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.app-bar-item2 {
  color: #fff;
}

.menu-icon {
  padding-left: 20px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.social_icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: cover;
}

.git_hov {
  background-image: url("images/icons/github.svg");
}

.git_hov:hover {
  background-image: url("images/icons/git_disabled.svg");
}

.linked_hov {
  background-image: url("images/icons/linked.svg");
}

.linked_hov:hover {
  background-image: url("images/icons/linked_disabled.svg");
}

.med_hov {
  background-image: url("images/icons/med.svg");
}

.med_hov:hover {
  background-image: url("images/icons/med_disabled.svg");
}

.angel_hov {
  background-image: url("images/icons/angel.svg");
}

.angel_hov:hover {
  background-image: url("images/icons/angel_disabled.svg");
}

.twitter_hov {
  background-image: url("images/icons/twitter.svg");
}

.twitter_hov:hover {
  background-image: url("images/icons/twitter_disabled.svg");
}

.works {
  display: grid;
  grid-template-rows: auto auto auto auto;
  background-color: white;
  padding: 120px 24px 0 24px;
}

.works-title {
  display: grid;
  justify-content: center;
  height: 107px;
  gap: 24px;
}

.works-title h2 {
  color: #1c1a19;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  margin: 0;
  height: 83px;
}

.works-content {
  margin: 0;
  padding: 0;
}

.works-content hr {
  margin-bottom: 80px;
  margin-top: 0;
  border: 1px solid #212121;
}

.works-content img {
  margin-bottom: 24px;
  width: 100%;
}

.works-content h2 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 400;
  line-height: 138%;
  margin-top: 0;
  margin-bottom: 12px;
}

.works-content p {
  /* margin-top: 0;
  margin-bottom: 12px; */
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #091e42;
  float: left;
  order: 1;
}

.works-content ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 12px;
  padding: 0;
  gap: 12px;
}
.works-content div{
 display: block;
 width: 100%;
 float: left;
}

.works-content >div p{
  margin: 0;
  border: 2px solid #8993a4;
  padding: 10px;
  color: #091e42;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  margin: 0 10px 10px 0;
 } 

.works-content li {
  margin: 0;
  border: 2px solid #8993a4;
  padding: 10px;
  color: #091e42;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.works-content button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background: #ff6b00;
  color: #fff;
  border: 1px #ff6b00;
  padding: 12px;
  width: 124px;
  height: 48px;
}

.center-content {
  display: flex;
  grid-template-rows: auto auto auto auto;
  background-color: white;
  padding: 24px 16px 0 16px;
}

.content-desc h2 {
  margin: 72px 16px 12px 16px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 138%;
  color: #fff;
}

.content-desc p {
  margin: 0 16px 12px 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.content-desc ul {
  display: flex;
  list-style-type: none;
  margin: 0 16px 22px 16px;
  padding: 0;
  gap: 12px;
}

.content-desc li {
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.277);
  padding: 10px;
  color: #091e42;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.content-desc button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background: #ff6b00;
  color: #fff;
  border: 1px #ff6b00;
  padding: 12px;
  width: 100%;
  height: 48px;
}

.content-desc {
  background-image: url("images/center_back.png");
  background-repeat: no-repeat;
  background-size: 100% 386px;
  height: 386px;
}

.about {
  background-color: white;
  padding-top: 120px;
}

.about-content {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
}

.about-header h2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  display: flex;
}

.about-header p {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #f4f5f7;
}

.about-header button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background: #ff6b00;
  color: #fff;
  border: 1px #ff6b00;
  padding: 12px;
}

.about-header {
  background-image: url("images/about_back.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto;
  padding-top: 120px;
  padding-left: 24px;
  padding-right: 24px;
  height: 453px;
}

.about-footer {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 87.54px;
}

.about-footer hr {
  margin-top: 0;
  margin-bottom: 136.73px;
  border: 1px solid #fff;
}

.major-menu {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.minor-menu {
  margin-top: 44px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 194%;
}

.lang-first {
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lang-sec {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.works-content a {
  text-decoration: none;
  color: #091e42;
}

.works-content li:hover {
  background-color: #ff6b00;
  cursor: pointer;
  color: #091e42;
}

.content-desc li:hover {
  cursor: pointer;
}

.content-desc a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
}

button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #ff6b00;
  border: 2px solid #ff6b00;
}

button:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.icon {
  display: inline-block;
  background-size: cover;
  width: 40px;
  height: 40px;
}
